.top-layer {
  color: white;
  background: gray;
}

.side-layer {
  background: orange;
}

.main-layer {
  background: lightgray;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-rows: repeat(1fr, 6);
}

.row1 {
  grid-row: 1fr;
}

.row2 {
  grid-row: 1fr;
}

.row3 {
  grid-row: 1fr;
}

.row4 {
  grid-row: 1fr;
}

.row5 {
  grid-row: 1fr;
}

.row6 {
  grid-row: 1fr;
}

.rowSame {
  grid-template-columns: repeat(1fr, 4);
}

.rect {
  grid-column: 1fr;
}

.large-rect {
  grid-column: 2fr;
}
